<div padding class="card-background-page" style="margin-top: 77px; margin-bottom: 77px;">

<ion-fab bottom right>
    <button ion-fab color="vibrant" mini><ion-icon name="add"></ion-icon></button>
    <ion-fab-list side="top">
      <button ion-fab ><ion-icon name="albums" (click)="onClickFromGallery()" ></ion-icon></button>
    </ion-fab-list>
    <ion-fab-list side="left">
      <button ion-fab><ion-icon name="camera" (click)="onClickTakePhoto()"></ion-icon></button>
    </ion-fab-list>
  </ion-fab>

  <ion-grid>
      <ion-row>
        <ion-col col-6 >
          <ion-col col-6 *ngFor="let photo of photos; let id = index">
              <ion-card class="block">
                <ion-icon name="trash" class="deleteIcon" (click)="deletePhoto(photo)"></ion-icon>
                <img [src]="photo" *ngIf="photo" />
              </ion-card>
          </ion-col>
        </ion-col>
      </ion-row>
    </ion-grid>
</div>













<!-- <div padding class="card-background-page">

    <button ion-button (click)="onClickTakePhoto()" >
    <ion-icon name="camera"></ion-icon>&nbsp;&nbsp; Take Photo</button>
    <button ion-button (click)="onClickFromGallery()" >
      <ion-icon name="albums"></ion-icon>&nbsp;&nbsp; From gallery</button>
  
    <ion-grid>
        <ion-row>
          <ion-col col-6 >
            <ion-col col-6 *ngFor="let photo of photos; let id = index">
                <ion-card class="block">
                  <ion-icon name="trash" class="deleteIcon" (click)="deletePhoto(photo)"></ion-icon>
                  <img [src]="photo" *ngIf="photo" />
                </ion-card>
            </ion-col>
          </ion-col>
        </ion-row>
      </ion-grid>
  </div> -->
