<div style="margin-top: 88px; margin-bottom: 88px;">
<ion-header>
  <ion-navbar>
    <ion-title>Credits</ion-title>
  </ion-navbar>
</ion-header>

<button ion-button full (click)="onClickAddCredit()" >
    <ion-icon name="clipboard"></ion-icon>&nbsp;&nbsp; Add Credit</button>

  <ion-grid *ngIf="user">
    <ion-row *ngFor="let credit of creditArr">
      <ion-col>
         <credit-card [credit]="credit" (creditDeleted)="handleCreditDeleted($event)"></credit-card>
      </ion-col>
    </ion-row>
  </ion-grid>

</div>