<ion-header>
  <ion-navbar>
    <ion-title>Dashboard</ion-title>
    <ion-buttons end>
          <button ion-button (click)="onClickSettings()" icon-only>
            <ion-icon name="more"></ion-icon>
          </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-refresher (ionRefresh)="doRefresh($event)" [pullMin]="300">
    <ion-refresher-content> </ion-refresher-content>
  </ion-refresher>
  <ion-searchbar [(ngModel)]="searchClub" (ionInput)="searchClubs()"></ion-searchbar>
  
  <button ion-button icon-only (click)="openPopupFilter($event)">
      <ion-icon name="more"></ion-icon> </button>

  <ion-grid>
    <ion-row>
      <ion-col col-4 *ngFor="let club of clubsDisplay">
        <club-card [club]="club" [subDetailsToPresent]="chosenOption"></club-card>
      </ion-col>
      <!-- <ion-col>
        <club-card [club]="club" [subDetailsToPresent]="chosenOption"></club-card>
      </ion-col> -->
    </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-row *ngFor="let clubManual of clubsManualDisplay">
      <ion-col>
        <club-manual-card [club]="clubManual" [subDetailsToPresent]="chosenOption" (clubDeleted)="handleClubDeleted($event)"></club-manual-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-fab bottom right>
      <button ion-fab color="vibrant" mini><ion-icon name="add"></ion-icon></button>
      <ion-fab-list side="top">
        <button ion-fab (click)="onClickAddManualClub()" ><ion-icon name="hand"></ion-icon></button>
      </ion-fab-list>
      <ion-fab-list side="left">
        <button ion-fab (click)="onClickAddClubByScanQR()"><ion-icon name="qr-scanner"></ion-icon></button>
        <button ion-fab (click)="onClickAddClub()" ><ion-icon name="beer"></ion-icon></button>
      </ion-fab-list>
    </ion-fab>

  <!-- <ion-footer>
    <ion-fab>
      <button (click)="onClickAddClub()" ion-fab>Add Club</button>
    </ion-fab>
    </ion-footer> -->
    
</ion-content>