<ion-item class="club-card">
  <ion-thumbnail item-start (click)="onClubClicked()">
    <img id="card-img" [src]="club.img" />
  </ion-thumbnail>
  <ion-buttons end>
    <button ion-button clear icon-end (click)="onClickPresentClubInfo({club: club})">
          <ion-icon color="dark" name="information-circle"></ion-icon>
        </button>
  </ion-buttons>
  <h2>{{club.name}}</h2>
  <p>
    <ion-icon name="trophy" color="dark" item-start large> {{userPoints}} </ion-icon>
  </p>
  <ion-row no-padding>
    <ion-col>
      <button ion-button clear small color="danger" icon-start (click)="onClickEditClub(club)" *ngIf="club.isManual">
              <ion-icon name='create'></ion-icon>
              Edit
          </button>
    </ion-col>
    <ion-col text-center>
      <button ion-button clear small color="danger" icon-start (click)="onClickDeleteClub(club)" *ngIf="club.isManual">
              <ion-icon name='trash'></ion-icon>
              Delete
            </button>
    </ion-col>
  </ion-row>
</ion-item>