
<ion-header>

  <ion-navbar>
    <!--<ion-buttons end>
        <button (click)="updateSale()">
          
        </button>
    </ion-buttons>-->
    <ion-title>edit-sale</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
     <form [formGroup]="formData"(ngSubmit)="updateSale()">
  
        <ion-list>
            <ion-item>
                <ion-input formControlName="id" placeholder="Id" type="text" *ngIf="sale" [(ngModel)]="sale.id"></ion-input>
            </ion-item>
            <ion-item>
                <ion-input formControlName="name" placeholder="name" type="text" *ngIf="sale" [(ngModel)]="sale.name"></ion-input>
            </ion-item>
            <ion-item>
                <ion-input formControlName="img" placeholder="img" type="text" *ngIf="sale" [(ngModel)]="sale.img"></ion-input>
            </ion-item>
            <ion-item>
                <ion-input formControlName="description" placeholder="description" type="text" *ngIf="sale" [(ngModel)]="sale.description" ></ion-input>
            </ion-item>
            <ion-item>
                <ion-input formControlName="points" placeholder="points" type="number" *ngIf="sale" [(ngModel)]="sale.points"></ion-input>
            </ion-item>
            <ion-item>
                <ion-input formControlName="price" placeholder="price" type="number" *ngIf="sale" [(ngModel)]="sale.price" ></ion-input>
            </ion-item>   
        </ion-list>
         <button type="Submit" ion-button round>Submit</button>
    </form>
     
</ion-content>
